<div class="item-form">
    <div class="header">
        {{header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.ArmorValue"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="2"
                size="2"
                name="system.armor.base"
                value="{{system.armor.base}}"
                data-dtype="Number"
                placeholder="1"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.Accessory"}}
        </div>
        <div class="inputs">
            <label>
                <input type="checkbox" name="system.armor.mod" {{checked system.armor.mod}} />
            </label>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.ArmorHardened"}}
        </div>
        <div class="inputs">
            <label>
                <input type="checkbox" name="system.armor.hardened" {{checked system.armor.hardened}} />
            </label>
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.ElementAcid"}} {{localize "SR5.Modifier"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="2"
                size="2"
                name="system.armor.acid.base"
                value="{{system.armor.acid.base}}"
                data-dtype="Number"
                placeholder="0"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.ElementCold"}} {{localize "SR5.Modifier"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="2"
                size="2"
                name="system.armor.cold.base"
                value="{{system.armor.cold.base}}"
                data-dtype="Number"
                placeholder="0"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.ElementFire"}} {{localize "SR5.Modifier"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="2"
                size="2"
                name="system.armor.fire.base"
                value="{{system.armor.fire.base}}"
                data-dtype="Number"
                placeholder="0"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.ElementElectricity"}} {{localize "SR5.Modifier"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="2"
                size="2"
                name="system.armor.electricity.base"
                value="{{system.armor.electricity.base}}"
                data-dtype="Number"
                placeholder="0"
            />
        </div>
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.ElementRadiation"}} {{localize "SR5.Modifier"}}
        </div>
        <div class="inputs">
            <input
                type="text"
                maxlength="2"
                size="2"
                name="system.armor.radiation.base"
                value="{{system.armor.radiation.base}}"
                data-dtype="Number"
                placeholder="0"
            />
        </div>
    </div>
</div>
