<div class="item-form">
    <div class="header">
        {{header}}
    </div>
    <div class="form-line">
        <div class="label">
            {{localize "SR5.Type"}}
        </div>
        <div class="inputs">
            <select name="system.type" {{#if isNestedItemOfItem}}disabled{{/if}}>
                <option value=""></option>
                {{#select system.type}} {{#each config.modificationTypes as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}} {{/select}}
            </select>
        </div>
    </div>
    {{#ife system.type 'armor'}}   
        {{> 'systems/shadowrun5e/dist/templates/item/parts/modification_armor.html' }}
    {{/ife}}
    {{#ife system.type 'bodyware'}}   
        {{> 'systems/shadowrun5e/dist/templates/item/parts/modification_bodyware.html' }}
    {{/ife}}
    {{#ife system.type 'device'}}   
        {{> 'systems/shadowrun5e/dist/templates/item/parts/modification_device.html' }}
    {{/ife}}
    {{#ife system.type 'drone'}}   
        {{> 'systems/shadowrun5e/dist/templates/item/parts/modification_drone.html' }}
    {{/ife}}
    {{#ife system.type 'equipment'}}   
        {{> 'systems/shadowrun5e/dist/templates/item/parts/modification_equipment.html' }}
    {{/ife}}
    {{#ife system.type 'vehicle'}}
        {{> 'systems/shadowrun5e/dist/templates/item/parts/modification_vehicle.html' }} 
    {{/ife}}
    {{#ife system.type 'weapon'}}
        {{> 'systems/shadowrun5e/dist/templates/item/parts/modification_weapon.html' }}
    {{/ife}}
</div>
