{{#if hideConceal}}
    {{> "systems/shadowrun5e/dist/templates/item/parts/modification_technology.html" hideConceal=true }}
{{else}}
    {{> "systems/shadowrun5e/dist/templates/item/parts/modification_technology.html" }}
{{/if}}
<div class="form-line">
    <div class="label">
        {{localize "SR5.ArmorValue"}}
    </div>
    <div class="inputs">
        <input type="text"
               maxlength="2"
               size="2"
               name="system.armorMod.armor_value"
               value="{{system.armorMod.armor_value}}"
               data-dtype="Number"
               placeholder="1" />
    </div>
</div>
<div class="form-line">
    <div class="label">
        {{localize "SR5.ArmorHardened"}}
    </div>
    <div class="inputs">
        <label>
            <input type="checkbox" name="system.armorMod.hardened" {{checked system.armorMod.hardened}} />
        </label>
    </div>
</div>
<div class="form-line">
    <div class="label">
        {{localize "SR5.ElementAcid"}} {{localize "SR5.Modifier"}}
    </div>
    <div class="inputs">
        <input type="text"
               maxlength="2"
               size="2"
               name="system.armorMod.acid"
               value="{{system.armorMod.acid}}"
               data-dtype="Number"
               placeholder="0" />
    </div>
</div>
<div class="form-line">
    <div class="label">
        {{localize "SR5.ElementCold"}} {{localize "SR5.Modifier"}}
    </div>
    <div class="inputs">
        <input type="text"
               maxlength="2"
               size="2"
               name="system.armorMod.cold"
               value="{{system.armorMod.cold}}"
               data-dtype="Number"
               placeholder="0" />
    </div>
</div>
<div class="form-line">
    <div class="label">
        {{localize "SR5.ElementFire"}} {{localize "SR5.Modifier"}}
    </div>
    <div class="inputs">
        <input
            type="text"
            maxlength="2"
            size="2"
            name="system.armorMod.fire"
            value="{{system.armorMod.fire}}"
            data-dtype="Number"
            placeholder="0"
        />
    </div>
</div>
<div class="form-line">
    <div class="label">
        {{localize "SR5.ElementElectricity"}} {{localize "SR5.Modifier"}}
    </div>
    <div class="inputs">
        <input
            type="text"
            maxlength="2"
            size="2"
            name="system.armorMod.electricity"
            value="{{system.armorMod.electricity}}"
            data-dtype="Number"
            placeholder="0"
        />
    </div>
</div>
<div class="form-line">
    <div class="label">
        {{localize "SR5.ElementRadiation"}} {{localize "SR5.Modifier"}}
    </div>
    <div class="inputs">
        <input
            type="text"
            maxlength="2"
            size="2"
            name="system.armorMod.radiation"
            value="{{system.armorMod.radiation}}"
            data-dtype="Number"
            placeholder="0"
        />
    </div>
</div>